# frontend
/frontend/.next/
/frontend/node_modules/
/frontend/out/
/frontend/.vercel/
/frontend/.env*
/frontend/.env.example

# backend
/backend/bin/
/backend/*.exe
/backend/*.test
/backend/.env

# misc
.DS_Store
Thumbs.db
